body {
  background-color: #f5f7fa; 
  color: #000; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
p {
  font-size: 1.2em;
  line-height: 1.5;
}
.logo {
  display: flex;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  background-color: #0f172a;
  width: 100%;
  gap: 10px;
  padding: 20px;
  color: #e2e8f0;
  justify-content: space-between;
}
footer {
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 25px;
  width: 100%;
}
div {
  margin-top: 20px;
  text-align: center;
}
button {
  background-color: #e2e8f0; 
  color: #000; 
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}
button:hover {
  background-color: hsl(191, 96%, 44%); 
}
a {
  text-decoration: none;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
